*{
    box-sizing: border-box;
}

html, body {
    background-color: rgba(0,162,234,1.0);
    margin: 0px;
    height:100%;
    width: 100%;
}

div#content{
    background-color: rgba(153,217,234,1.0);
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
    height: 100%;
}

span{
    color: rgba(136,0,21,1.0);
}

#headline{
    font-size: 22px;
    text-align: center;
}

div#image{
    width: auto;
    height: auto;
    align-content: center;
    margin: 2% 34%;
}

.options{
    width: 30%;
    height: 64px;
    margin: 0% 35%;
    text-align: center;
    padding-top: 1.2%;
    font-size: 18px;
    background-color:rgba(0,162,232,1.0);
    border: solid 5px rgba(63,72,204,1.0);
}
.options:hover{
    background-color: rgba(63,72,204,1.0);
}

a{
    text-decoration: none;
    color: black;
}

/* Formular */
form#formular{
    max-width: 35%;
    margin-left: 10%;
    margin-right: 50%;

}
.createPlayer{
    width:100%;
    display:block;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 16px;
    color: black;

}
.description{
    width: 30%;
    max-width: 30%;
}
.input{
    float: right;
    margin-left: 20%;
}































